#nav-toggle {position: absolute; right: 10px; top: 7px; cursor: pointer; padding: 12px 0 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 22px;
    background: white;
    position: absolute;
    display: block;
    content: '';
}
#nav-toggle span:before {
    top: -6px;
}
#nav-toggle span:after {
    bottom: -6px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}


@media (min-width: 768px) {
    #nav-toggle { right: 15px; padding: 18px 0 16px 0px; }
}

@media (min-width:992px) {
    #nav-toggle{
        display: none;
    }
}
